<ion-view view-title="登入成绩">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">学生序号</span>
        <input type="number" ng-model="info.xucf_student_id">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">课程序号</span>
        <input type="number" ng-model="info.xucf_course_id">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">成绩</span>
        <input type="text" ng-model="info.xcf_score">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="doUpdate()">
      提交
    </button>
  </ion-content>
</ion-view>
