<ion-view view-title="班级开课查询">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">班级序号</span>
      <input type="text" ng-model="info.student_id">
    </label>
    <button class="button button-block button-positive" ng-click="doQuery()">
      查询
    </button>
    <div id="aqi-table">
      <div class="row header-row">
        <div class="col">班级</div>
        <div class="col">课程</div>
        <div class="col">教师</div>
        <div class="col">学期</div>
      </div>
      <div class="row" ng-repeat="course in courses">
        <div class="col">{{course.xucf_class_id}}</div>
        <div class="col">{{course.xucf_course_id}}</div>
        <div class="col">{{course.xucf_teacher_id}}</div>
        <div class="col">{{course.xcf_term}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
