<ion-view view-title="课程成绩统计">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">课程序号</span>
      <input type="text" ng-model="info.course_id">
    </label>
    <label class="item item-input">
      <span class="input-label">年级</span>
      <input type="text" ng-model="info.grade">
    </label>
    <button class="button button-block button-positive" ng-click="doQuery()">
      查询
    </button>
    <div id="aqi-table">
      <div class="row header-row">
        <div class="col">班级</div>
        <div class="col">学生</div>
        <div class="col">成绩</div>
      </div>
      <div class="row" ng-repeat="student in students">
        <div class="col">{{student.class_no}}</div>
        <div class="col">{{student.student_name}}</div>
        <div class="col">{{student.score}}</div>
      </div>
    </div>
    <ion-item>{{avgscore}}</ion-item>
  </ion-content>
</ion-view>
