<ion-view view-title="学期课程统计">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">学生序号</span>
      <input type="text" ng-model="info.student_id">
    </label>
    <button class="button button-block button-positive" ng-click="doQuery()">
      查询
    </button>
    <div id="aqi-table">
      <div class="row header-row">
        <div class="col">课程</div>
        <div class="col">学时</div>
        <div class="col">学分</div>
      </div>
      <div class="row" ng-repeat="course in courses">
        <div class="col">{{course.xcf_name}}</div>
        <div class="col">{{course.xcf_hour}}</div>
        <div class="col">{{course.xcf_credit}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
