<ion-view view-title="学生成绩排名">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">专业</span>
      <input type="text" ng-model="info.major_id">
    </label>
    <label class="item item-input">
      <span class="input-label">年级</span>
      <input type="text" ng-model="info.grade">
    </label>
    <button class="button button-block button-positive" ng-click="doQuery()">
      查询
    </button>
    <div id="aqi-table">
      <div class="row header-row">
        <div class="col">班级</div>
        <div class="col">姓名</div>
        <div class="col">学分</div>
      </div>
      <div class="row" ng-repeat="student in students">
        <div class="col">{{student.xucf_class_id}}</div>
        <div class="col">{{student.xcf_name}}</div>
        <div class="col">{{student.xcf_credit}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
