<ion-view view-title="信息查询">
  <ion-content>
  <ion-item>搜索</ion-item>
  <ion-item>按班级浏览</ion-item>
  <div class="item item-divider">学生信息</div>
  <ion-item class=" item-icon-right" href="#/app/student/term">学生成绩统计<i class="icon ion-chevron-right"></i></ion-item>
  <ion-item class=" item-icon-right" href="#/app/student/rank">学生成绩排名<i class="icon ion-chevron-right"></i></ion-item>
  <ion-item class=" item-icon-right" href="#/app/student/courses">学生课程统计<i class="icon ion-chevron-right"></i></ion-item>
  <ion-item class=" item-icon-right" href="#/app/student/scores">学生成绩查询<i class="icon ion-chevron-right"></i></ion-item>
  <div class="item item-divider">其他信息</div>
  <ion-item class=" item-icon-right" href="#/app/course/scores">课程成绩统计<i class="icon ion-chevron-right"></i></ion-item>
  <ion-item class=" item-icon-right" href="#/app/teacher/courses">教师任课查询<i class="icon ion-chevron-right"></i></ion-item>
  <ion-item class=" item-icon-right" href="#/app/class/courses">班级开课查询<i class="icon ion-chevron-right"></i></ion-item>
  </ion-content>
</ion-view>
