<ion-view view-title="教师课程查询">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">教师序号</span>
      <input type="text" ng-model="info.teacher_id">
    </label>
    <button class="button button-block button-positive" ng-click="doQuery()">
      查询
    </button>
    <div id="aqi-table">
      <div class="row header-row">
        <div class="col">课程</div>
        <div class="col">班级</div>
        <div class="col">学期</div>
      </div>
      <div class="row" ng-repeat="course in courses">
        <div class="col">{{course.course_name}}</div>
        <div class="col">{{course.class_no}}</div>
        <div class="col">{{course.term}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
